@charset "utf-8";
.exchangeRates,.setRates {
	width: 480px;
	height: 100%;
	margin: 0 auto;
	font-family: "黑体"
}
.header {
	width: 480px;
	height: 116px;
	background: url(../images/title.png) no-repeat;
}
.header .right {
	float: right;
	width: 80px;
	height: 54px;
}
.header .right a {
	float: right;
	width: 80px;
	height: 54px;
}
.header .right a:hover {
	width: 80px;
	height: 54px;
	background: url(../images/setting.png) no-repeat;
}
.bg {
	width: 480px;
	height: 598px;
	background: url(../images/bg.png) no-repeat;
	overflow: hidden;
}
.bg .list {
	font:left;
	width: 480px;
	height: 77px;
	background: url(../images/line.png) 0px 64px no-repeat;
}
.bg .list .currency {
	float: left;
	width: 150px;
	height: 77px;
	text-align: left;
	font-size: 28px;
	color: #bea58c;
	line-height: 50px;
	padding-left: 30px;
}
.bg .list .money {
	float:left;
	width:240px;
	line-height:50px;
	height:77px;
	text-align:right;
	padding-top:1px;
	
}

.bg .list .money input{
	float:right;
	background-color:transparent;
	border:0px;
	width:210px;
	height:25px;
	font-size:30px;
	color:#ffefda;
	text-align:right;
}



.footer{
	width:480px;
	height:49px;
	background:url(../images/bottom.png) no-repeat;
}


.setRates .header{
	padding-left:16px;
	width:464px;
	height:116px;
	background:url(../images/setting_title.png) no-repeat;
}
.setRates .header .back{
	float:left;
	width:93px;
	height:54px;
}

.setRates .header .back a{
	float:left;
	width:93px;
	height:54px;
}
.setRates .header .back a:hover{
	float:left;
	width:93px;
	height:54px;
	background:url(../images/setting_back.png) no-repeat;
}

.bg .list .equal{
	width:20px;
	height:77px;
	text-align:center;
	font-size:30px;
	font-weight:bold;
	line-height:50px;
	float:left;
	color:#bea58c;
}

.bg .list .setRates{
	float:left;
	width:153px;
	height:77px;
}
.bg .list .setRates input{
	float:right;
	width:128px;
	height:28px;
	background-color:transparent;
	border:2px solid #be9975;
	font-size:28px;
	color:#ffefda;
	text-align:right;
	border-radius:7px;/*设置边框的角度*/
}

.bg .list .rmb{
	float:left;
	width:67px;
	height:77px;
	text-align:left;
	font-size:22px;
	color:#bea58c;
	line-height:50px;
}

.font25{
	font-size:25px;
}